In [ ]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import glob

folder_name = r'C:\Users\johnh\Desktop\Stuff\Physics\Research GMU\spectroscopy\drop cast\MB\11-22-2024\trial 1\raw data'
# Get a list of all CSV files in the folder
csv_files = glob.glob(folder_name+'/*.csv')

first_csv_file = pd.read_csv(csv_files[0],skiprows=1).to_numpy()
wavelengths = first_csv_file[:,-2]
testing = 4

In [16]:

# Create an empty list to store the dataframes
dfs = []

# Loop through the CSV files
for file in csv_files:
    # Read the CSV file into a dataframe
    df = pd.read_csv(file,skiprows=1).to_numpy
    print(df)
    # Append the dataframe to the list
    #dfs.append(df)

<bound method DataFrame.to_numpy of       1  1.1  0   0.1  N/A  N/A.1  422.87173758398342   1437
0     1    1  0     1  NaN    NaN          423.406850   1483
1     1    1  0     2  NaN    NaN          423.941999   1429
2     1    1  0     3  NaN    NaN          424.477182   1433
3     1    1  0     4  NaN    NaN          425.012401   1481
4     1    1  0     5  NaN    NaN          425.547654   1468
...  ..  ... ..   ...  ...    ...                 ...    ...
1018  1    1  0  1019  NaN    NaN          979.034877  28699
1019  1    1  0  1020  NaN    NaN          979.583831  28489
1020  1    1  0  1021  NaN    NaN          980.132777  28699
1021  1    1  0  1022  NaN    NaN          980.681714  28135
1022  1    1  0  1023  NaN    NaN          981.230643  26224

[1023 rows x 8 columns]>
<bound method DataFrame.to_numpy of       1  1.1  0   0.1  N/A  N/A.1  422.87173758398342   1281
0     1    1  0     1  NaN    NaN          423.406850   1285
1     1    1  0     2  NaN    NaN          423.941999   1319
2     1    1  0     3  NaN    NaN          424.477182   1300
3     1    1  0     4  NaN    NaN          425.012401   1332
4     1    1  0     5  NaN    NaN          425.547654   1376
...  ..  ... ..   ...  ...    ...                 ...    ...
1018  1    1  0  1019  NaN    NaN          979.034877  18514
1019  1    1  0  1020  NaN    NaN          979.583831  18242
1020  1    1  0  1021  NaN    NaN          980.132777  18092
1021  1    1  0  1022  NaN    NaN          980.681714  18134
1022  1    1  0  1023  NaN    NaN          981.230643  16751

[1023 rows x 8 columns]>
<bound method DataFrame.to_numpy of       1  1.1  0   0.1  N/A  N/A.1  422.87173758398342  -645
0     1    1  0     1  NaN    NaN          423.406850  -671
1     1    1  0     2  NaN    NaN          423.941999  -698
2     1    1  0     3  NaN    NaN          424.477182  -678
3     1    1  0     4  NaN    NaN          425.012401  -705
4     1    1  0     5  NaN    NaN          425.547654  -734
...  ..  ... ..   ...  ...    ...                 ...   ...
1018  1    1  0  1019  NaN    NaN          979.034877 -9707
1019  1    1  0  1020  NaN    NaN          979.583831 -9566
1020  1    1  0  1021  NaN    NaN          980.132777 -9473
1021  1    1  0  1022  NaN    NaN          980.681714 -9476
1022  1    1  0  1023  NaN    NaN          981.230643 -8656

[1023 rows x 8 columns]>
<bound method DataFrame.to_numpy of       1  1.1  0   0.1  N/A  N/A.1  422.87173758398342   611
0     1    1  0     1  NaN    NaN          423.406850   601
1     1    1  0     2  NaN    NaN          423.941999   604
2     1    1  0     3  NaN    NaN          424.477182   610
3     1    1  0     4  NaN    NaN          425.012401   608
4     1    1  0     5  NaN    NaN          425.547654   603
...  ..  ... ..   ...  ...    ...                 ...   ...
1018  1    1  0  1019  NaN    NaN          979.034877  8347
1019  1    1  0  1020  NaN    NaN          979.583831  8176
1020  1    1  0  1021  NaN    NaN          980.132777  8263
1021  1    1  0  1022  NaN    NaN          980.681714  8314
1022  1    1  0  1023  NaN    NaN          981.230643  7723

[1023 rows x 8 columns]>